@using WebUI.App_LocalResources;
@{
    ViewBag.Title = @BFS2Resource.index_title;
}

<div class="jumbotron">
    <h1>@BFS2Resource.index_shop</h1>
    <p class="lead">@BFS2Resource.index_title</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@BFS2Resource.index_group_loading</h2>
        <p>
            @BFS2Resource.index_group_loading_description
        </p>
        <p><a class="btn btn-default" href="/BFS2/Loading">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@BFS2Resource.index_group_energy</h2>
        <p>
            @BFS2Resource.index_group_energy_description
        </p>
        <p><a class="btn btn-default" href="/BFS2/Energy">Перейти &raquo;</a></p>
    </div>
</div>

