@using WebUI.App_LocalResources;

@{
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        OnSuccess = "selectPeriod",
        //LoadingElementId = "loading",
        LoadingElementDuration = 1000,
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
        OnComplete = "OnComplete"
    };
    ViewBag.Title = @BF9UnloadBunkerResource.report_title;
    ViewBag.Section = "ДП-9, БЗУ";
    ViewBag.HierarchyMenu = @ViewBag.HierarchyMenu;
    Layout = "~/Views/Shared/_LayoutReportADD.cshtml";
}
@Scripts.Render("~/bundles/Ajax")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.cookie.js"></script>
<div id="report" class="report-wide">
    <div id="header">
        <div class="title">@ViewBag.Title</div>
        @Styles.Render("~/datetime/css")
        @Scripts.Render("~/bundles/datetime")
        @using (Ajax.BeginForm("ReportUnloadBunker", "BFS2", ajaxOpts, new { @id = "fmList" })) //
        {
            <div id="select-rangedatetime">
                @Html.Label(@GlobalResource.select_date_range_title)

                <span id="select-range">
                    <input id="date-start" name="date_start" size="20" value='@ViewBag.dt_start'> до
                    <input id="date-stop" name="date_stop" size="20" value='@ViewBag.dt_stop'>
                </span>

                <button type="submit">@GlobalResource.button_title_view</button>

            </div>

        }
    </div>
    <link rel="stylesheet" type="text/css" href="~/Content/reports/bfs2/unloadbunker.css">
    @*<div id="loading" class="load" style="display: none">
        <p>Loading Data...</p>
    </div>*@
    <div id="content">

    </div>
    <div id="cls">

    </div>
</div>
<script src="~/Scripts/reports/bfs2/unloadbunker.js"></script>
