@using WebUI.App_LocalResources;
@using TReport.TData;
@using TReport.TREntities;

@{
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        OnSuccess = "selectPeriod",
        LoadingElementDuration = 1000,
        OnBegin = "OnBegin",
        OnFailure = "OnFailure",
        OnComplete = "OnComplete"
    };
}

@{
    trObj[] obj = @ViewBag.obj;
    TREnergy.Report[] reports = @ViewBag.reports;
}

@Scripts.Render("~/bundles/Ajax")
@Scripts.Render("~/bundles/jqueryval")
<div id="report" class="report-wide">
    <div id="header">
        <div class="title">@ViewBag.Title</div>
        @Styles.Render("~/datetime/css")
        @Scripts.Render("~/bundles/datetime")
        @using (Ajax.BeginForm("ReportEnergyDay", "EnergyDay", ajaxOpts, new { @id = "fmList" })) //
        {
            <div id="select-rangedatetime">
                <button type="button" id="button-previous">@GlobalResource.button_title_previous</button>
                @Html.Label(@GlobalResource.select_date_title)
                <span id="select-range">
                    <input id="date" name="date" size="20" value='@ViewBag.dt'>
                    @foreach (TReport.TData.trObj ob in obj.ToList())
                    {
                        <input name="obj" id="obj" type="hidden" value='@ob.ToString()'>
                    }
                    @foreach (TREnergy.Report rep in reports.ToList())
                    {
                        <input name="reports" id="reports" type="hidden" value='@rep.ToString()'>
                    }
                </span>
                <button type="button" id="button-next">@GlobalResource.button_title_next</button>
            </div>
        }
    </div>
    <link rel="stylesheet" type="text/css" href="~/Content/reports/energy/energy.css">
    <div id="content">
        @{ Html.RenderAction("ReportEnergyDay", "EnergyDay", new { date = @DateTime.Parse(@ViewBag.dt), obj = @ViewBag.obj, reports = @ViewBag.reports }); }
    </div>
    <div id="cls">

    </div>
</div>
@*@Styles.Render("~/table/css")
@Scripts.Render("~/bundles/table")*@
<script src="~/Scripts/reports/energy/energy.js"></script>




