@using TReport.TRForms;
@using Measurement;
@using WebUI.App_LocalResources;

@model Form
<a href="#" id="granul-day" class="show-detali-object a-show-detali">@ReportEnergyResource.form_egd_caption</a>
<div class="status detali-object">
    <table class="table_blur" id="table-flow-energy-day">
        @*<caption>@ReportEnergyResource.form_egd_caption</caption>*@
        <tr>
            <th>@ReportEnergyResource.form_efd_field_name</th>
            <th>@ReportEnergyResource.form_efd_field_unit</th>
            <th>@ReportEnergyResource.form_efd_field_leftgranul</th>
            <th>@ReportEnergyResource.form_efd_field_rightgranul</th>
            <th>@ReportEnergyResource.form_efd_field_common</th>
        </tr>
        @foreach (Group groupitem in @Model.Groups.OrderBy(g => g.position))
        {
            foreach (TReport.TRForms.Type typeitem in groupitem.Types.OrderBy(t => t.position))
            {
                foreach (Item ei in typeitem.Items.OrderBy(i => i.position))
                {
                    if (ei.ItemObjects.Count() > 0)
                    {
                        <tr>
                            <th class="name">@ei.name</th>
                            @{
                        DBValueMeasurement val_left = null;
                        DBValueMeasurement val_right = null;
                        DBValueMeasurement val_comm = null;
                        int count = ei.ItemObjects[0].ItemValues[0].Values.Count();
                        int index = 0;
                        while (index < count)
                        {
                            if (index == 0) { val_left = (DBValueMeasurement)ei.ItemObjects[0].ItemValues[0].Values[index].value; }
                            if (index == 1) { val_right = (DBValueMeasurement)ei.ItemObjects[0].ItemValues[0].Values[index].value; }
                            if (index == 2) { val_comm = (DBValueMeasurement)ei.ItemObjects[0].ItemValues[0].Values[index].value; }
                            index++;
                        }
                        <td class="unit">
                            @( val_left.GetUnitMultiplier())
                        </td>
                        if (val_left == null || val_right == null)
                        {

                            <td class="value" colspan="2">
                                @( val_left.GetValue("n2"))
                            </td>
                        }
                        else
                        {
                            <td class="value">
                                @( val_left.GetValue("n2"))
                            </td>
                                <td class="value">
                                    @( val_right.GetValue("n2"))
                                </td>
                        }
                        <td class="value">
                            @( val_comm != null ? val_comm.GetValue("n2") : null)
                        </td>
                            }
                        </tr>
                    }
                }
            }
        }
    </table>
</div>