@using TReport.TRForms;
@using Measurement;
@using WebUI.App_LocalResources;
@using TReport.TData;

@model Form
<a href="#" id="avg-day" class="show-detali-object a-show-detali">@ReportEnergyResource.form_ed_caption</a>
<div class="status detali-object">
    <table class="table_blur" id="table-energy-avg-day">
        <tr>
            <th rowspan="2">@ReportEnergyResource.form_efd_field_name</th>
            @foreach (ItemObject io in @Model.Groups[0].Types[0].Items[0].ItemObjects.OrderBy(o => o.trobj))
            {
                <th colspan="2">@io.Object</th>
            }
        </tr>
        <tr>
            @foreach (ItemObject io in @Model.Groups[0].Types[0].Items[0].ItemObjects.OrderBy(o => o.trobj))
            {
                <th>@ReportEnergyResource.form_efd_field_value</th>
                <th>@ReportEnergyResource.form_efd_field_unit</th>
            }
        </tr>
        @{
            int count = (@Model.Groups[0].Types[0].Items[0].ItemObjects.Count() * 2) + 1;
            List<int> objs = new List<int>();
            foreach (ItemObject io in @Model.Groups[0].Types[0].Items[0].ItemObjects.OrderBy(o => o.trobj))
            {
                objs.Add(io.trobj);
            }
        }
        @foreach (Group groupitem in @Model.Groups.OrderBy(g => g.position))
        {
            if (groupitem.visible) {<tr><th colspan='@count' class="group">@groupitem.name.ToUpper()</th></tr>}
            foreach (TReport.TRForms.Type typeitem in groupitem.Types.OrderBy(t => t.position))
            {
                if (typeitem.visible)
                {<tr><th colspan='@count' class="type">@typeitem.name.ToUpper()</th></tr>}
                foreach (Item ei in typeitem.Items.OrderBy(i => i.position))
                {
                    <tr>
                        <th>@ei.name</th>
                        @foreach (ItemObject io in ei.ItemObjects.OrderBy(o => o.trobj))
                        {
                            <td class="value">
                                @if (io.ItemValues[0].Values[0].value != null)
                                {
                                    @( ((DBValueMeasurement)io.ItemValues[0].Values[0].value).GetValue("n3"))
                                      @*@io.ItemValues[0].SumValue(1).ToString("0.###");*@ 
                                }
                            </td>
                            <td class="unit">
                                @if (io.ItemValues[0].Values[0].value != null)
                                {
                                    @( ((DBValueMeasurement)io.ItemValues[0].Values[0].value).GetUnitMultiplier())
                                }
                            </td>
                        }
                    </tr>
                }
                if (typeitem.totals)
                {
                    <tr>
                        <th>ИТОГО:</th>
                        @foreach (int obj in objs)
                        {
                            <td class="value totals" colspan="2">
                                @( typeitem.SumValue(1, obj).ToString("#.###"))
                            </td>
                        }
                    </tr>
                }
            }
        }
    </table>
</div>