@using WebUI.App_LocalResources;

@{
    ViewBag.Title = @GlobalResource.add_title;
    ViewBag.Section = @GlobalResource.add_section;
    Layout = "~/Views/Shared/_LayoutReportAdd.cshtml";
}

<ul class="bmenu">
    <li><a href="#">@GlobalResource.menu_report_add_sp1_full</a></li>
    <li><a href="#">@GlobalResource.menu_report_add_sp2_full</a></li>
    <li><a href="#">@GlobalResource.menu_report_add_sp3_full</a></li>
    <li><a href="#">@GlobalResource.menu_report_add_bfs1_full</a></li>
    <li>@Html.ActionLink(@GlobalResource.menu_report_add_bfs2_full, "BFS2", "Home")</li>

</ul>
