@using WebUI.App_LocalResources;
@model List<WebUI.Models.HierarchMenu>

@{
    ViewBag.Title = @GlobalResource.bfs2unload_title;
    ViewBag.Section = @GlobalResource.bfs2unload_section;
    ViewBag.HierarchyMenu = @ViewBag.HierarchyMenu;
    Layout = "~/Views/Shared/_LayoutReportADD.cshtml";
}

<ul class="bmenu">
    <li>@Html.ActionLink(@GlobalResource.report_bf9_unload_um, "UnloadMaterialSmena", "BFS2")</li>
    <li>@Html.ActionLink(@GlobalResource.report_bf9_unload_dosing, "DosingMaterial", "BFS2")</li>
    <li>@Html.ActionLink(@GlobalResource.report_bf9_unload_bzu, "UnloadBunker", "BFS2")</li>
</ul>
