@using WebUI.App_LocalResources;

@{
    ViewBag.Title = @GlobalResource.bfs2unload_title;
    ViewBag.Section = @GlobalResource.bfs2unload_section;
    ViewBag.URL = "../Images/layout-report/dp.jpg";
    ViewBag.HierarchyMenu = "ADD;BFS2";
    Layout = "~/Views/Shared/_LayoutReportMenu.cshtml";
}

<ul class="bmenu">
    <li>@Html.ActionLink(@GlobalResource.report_bf9_unload_um, "UnloadMaterialSmena", "BFS2")</li>
    <li>@Html.ActionLink(@GlobalResource.report_bf9_unload_dosing, "DosingMaterial", "BFS2")</li>
    <li>@Html.ActionLink(@GlobalResource.report_bf9_unload_bzu, "UnloadBunker", "BFS2")</li>
</ul>
