@using WebUI.App_LocalResources;

@{
    ViewBag.Title = @GlobalResource.bfs2energy_title;
    ViewBag.Section = @GlobalResource.bfs2energy_section;
    ViewBag.URL = "../Images/layout-report/dp.jpg";
    ViewBag.HierarchyMenu = "ADD;BFS2";
    Layout = "~/Views/Shared/_LayoutReportMenu.cshtml";
}

<ul class="bmenu">
    <li>@Html.ActionLink(@GlobalResource.report_bf9_energy, "BFS2", "EnergyDay")</li>
    <li>@Html.ActionLink(@GlobalResource.report_bf9_energy, "ADD", "EnergyDay")</li>
</ul>

