@using WebUI.App_LocalResources;

@{
    ViewBag.Title = @GlobalResource.bfs2energy_title;
    ViewBag.Section = @GlobalResource.bfs2energy_section;
    ViewBag.HierarchyMenu = @ViewBag.HierarchyMenu;
    Layout = "~/Views/Shared/_LayoutReportADD.cshtml";
}

<ul class="bmenu">
    @*<li>@Html.ActionLink(@GlobalResource.report_bf9_energy, "EnergySutkiADDForADD", "EnergyDay")</li>*@
    <li>@Html.ActionLink(@GlobalResource.report_bf9_energy, "EnergySutkiADDForBFS2", "EnergyDay")</li>
</ul>

