@using WebUI.App_LocalResources;

@{
    ViewBag.Title = @GlobalResource.cto_title;
    ViewBag.Section = @GlobalResource.cto_section;
    Layout = "~/Views/Shared/_LayoutReportCTO.cshtml";
}

<ul class="bmenu">
    <li>@Html.ActionLink(@GlobalResource.menu_report_cto_datp_full, "DATP", "Home")</li>
    <li>@Html.ActionLink(@GlobalResource.menu_report_cto_upee_full, "UPEE", "Home")</li>
</ul>
