@using WebUI.App_LocalResources;

@{
    ViewBag.Title = @GlobalResource.datp_title;
    ViewBag.Section = @GlobalResource.datp_section;
    ViewBag.HierarchyMenu = @ViewBag.HierarchyMenu;
    Layout = "~/Views/Shared/_LayoutReportDATP.cshtml";
}

<ul class="bmenu">
    <li>@Html.ActionLink(@GlobalResource.menu_report_cto_datp_ug_full, "DATPUG", "Home")</li>
</ul>
