@using WebUI.App_LocalResources;

@{
    ViewBag.Title = @GlobalResource.ugenergy_title;
    ViewBag.Section = @GlobalResource.ugenergy_section;
    ViewBag.HierarchyMenu = @ViewBag.HierarchyMenu;
    Layout = "~/Views/Shared/_LayoutReportDATP.cshtml";
}

<ul class="bmenu">
    <li>@Html.ActionLink(@GlobalResource.report_add_energy, "EnergySutkiADDForDATPUG", "EnergyDay")</li>
</ul>
