@using WebUI.App_LocalResources;

@{
    ViewBag.Title = @GlobalResource.upee_title;
    ViewBag.Section = @GlobalResource.upee_section;
    ViewBag.HierarchyMenu = @ViewBag.HierarchyMenu;
    Layout = "~/Views/Shared/_LayoutReportCTO.cshtml";
}

<ul class="bmenu">
    <li>@Html.ActionLink(@GlobalResource.report_group_energy, "UPEEEnergy", "Home")</li>
</ul>
