@using WebUI.App_LocalResources;

@{
    Layout = null;
    
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Layout-report/css")
    <link rel="stylesheet" type="text/css" href="~/Content/layout-report/styleIE.css" />
    <!--<link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css' />-->
    @Scripts.Render("~/bundles/jquery")
</head>
<body style="background-image: url(@ViewBag.URL), url(); background-repeat: no-repeat; background-size:cover;">
    <link rel="stylesheet" type="text/css" href="~/Content/lockpanel/lockpanel.css">
    <script src="~/Scripts/lockpanel/lockpanel.js"></script>
    <div id="lockPanel" class="LockOff"></div>
    <div class="container">
        <div class="header">
            @*@Html.RouteLink(, new { controller = "Home", action = "Index")*@
            <a href="../Home/Index">
                <strong>&laquo; @GlobalResource.layout_report_menu: </strong>@GlobalResource.layout_report_menu_title
            </a>
            @{ Html.RenderAction("MenuHierarchy", "Home", new { list = (string)@ViewBag.HierarchyMenu }); }
            <span class="right">
                @using (Html.BeginForm("ChangeCulture", "Home"))
                {
                    @Html.RouteLink("RU", new
                            {
                                controller = "Home",
                                action = "ChangeCulture",
                                lang = "ru"
                            }, new { @class = "ru-RU" == System.Threading.Thread.CurrentThread.CurrentCulture.Name ? "select-lang" : "select-not-lang" })
                    @Html.RouteLink("EN", new
                            {
                                controller = "Home",
                                action = "ChangeCulture",
                                lang = "en"
                            }, new { @class = "en-US" == System.Threading.Thread.CurrentThread.CurrentCulture.Name ? "select-lang" : "select-not-lang" })
                    @Html.RouteLink("UK", new
                            {
                                controller = "Home",
                                action = "ChangeCulture",
                                lang = "uk"
                            }, new { @class = "uk-UA" == System.Threading.Thread.CurrentThread.CurrentCulture.Name ? "select-lang" : "select-not-lang" })
                }
                @*<a href="mailto:Eduard.Levchenko@arcelormittal.com">
                    <strong>@GlobalResource.name_developers_admin</strong>
                </a>*@
            </span>
            <div class="clr"></div>
        </div>
        <h1>@ViewBag.Section <span>@GlobalResource.index_name_webside @GlobalResource.index_name_tehrep</span></h1>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>