@using WebUI.App_LocalResources;

@{
    ViewBag.Title = @ViewBag.Title;
    ViewBag.Section = @ViewBag.Section;
    ViewBag.URL = @ViewBag.URL;
    ViewBag.ReturnAction = @ViewBag.ReturnAction;
    ViewBag.HierarchyMenu = @ViewBag.HierarchyMenu;    
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
@RenderBody()
<div class="more">
    <ul>
        <li>@GlobalResource.index_mmenu_title</li>
        <li class="selected"><a href="#">@GlobalResource.index_link_go_help_title</a></li>
        <li><a href="#">@GlobalResource.index_link_go_access_title</a></li>
        <li><a href="#">@GlobalResource.index_link_go_admin_title</a></li>
        <li><a href="#">@GlobalResource.index_link_go_about_title</a></li>
    </ul>
</div>

